<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <title>Record Form</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/details_form.css' %}" >
    <link rel="stylesheet" href="{% static 'css/record_input.css' %}" >
</head>
{% load crispy_forms_tags %}

<body>
<form method="POST" class="record-form">
  {% csrf_token %}

  <div class="record-header">
    Edit ALST Record
  </div>

  <div class="record-details">
    <div>
      <span class="label">SSSA ref:</span>
      <span class="value">{{ alst_record_form.catalogue_number }}</span>
    </div>
    <div>
      <span class="label">Collection:</span>
      <span class="value">{{ alst_record_form.collection }}</span>
    </div>
    <div>
      <span class="label">Collection Ref.:</span>
      <span class="value">{{ alst_record_form.collection_ref }}</span>
    </div>
    <div>
      <span class="label">Informant:</span>
      <span class="value">{{ alst_record_form.informant_artist }}</span>
    </div>
    <div>
      <span class="label">Fieldworker:</span>
      <span class="value">{{ alst_record_form.fieldworker }}</span>
    </div>
    <div>
      <span class="label">First line:</span>
      <span class="value">{{ alst_record_form.first_line }}</span>
    </div>
    <div>
      <span class="label">Content Keywords:</span>
      <span class="value">{{ alst_record_form.type_of_material }}</span>
    </div>
    <div>
      <span class="label">Summary:</span>
      <span class="value">{{ alst_record_form.summary }}</span>
    </div>
    <div>
      <span class="label">Date:</span>
      <span class="value">{{ alst_record_form.date }}</span>
    </div>
    <div>
      <span class="label">Place recorded:</span>
      <span class="value">{{ alst_record_form.place_recorded }}</span>
    </div>
    <div>
      <span class="label">Tale Reference:</span>
      <span class="value">{{ alst_record_form.tale_reference }}</span>
    </div>
    <div>
      <span class="label">Instrument:</span>
      <span class="value">{{ alst_record_form.instrument }}</span>
    </div>
    <div>
      <span class="label">Camera operator:</span>
      <span class="value">{{ alst_record_form.camera_operator }}</span>
    </div>
    <div>
      <span class="label">Disc/Matrix Nr.:</span>
      <span class="value">{{ alst_record_form.disc_matrix_number }}</span>
    </div>
    <div>
      <span class="label">Old Ref Nr.:</span>
      <span class="value">{{ alst_record_form.old_number_rl }}</span>
    </div>
    <div>
      <span class="label">Data Last Amended:</span>
      <span class="value">{{ alst_record_form.data_last_amended }}</span>
    </div>
    <div>
      <span class="label">Restrictions:</span>
      <span class="value">{{ alst_record_form.restricted }}</span>
    </div>
  </div>

  <div class="record-actions">
    <button type="submit" class="btn ok">Save</button>
    <a class="btn delete" href="{% url 'search_view' %}?{{ request.GET.urlencode }}">Cancel</a>
  </div>
</form>

</body>
</html>