<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Record Form</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/details_form.css' %}" >
</head>
<body>
<br>
<form method="POST" class="record-form">
  {% csrf_token %}

  <div class="record-header">
    ALST Record for Catalogue Number {{ alst_record.catalogue_number }}
  </div>

  <div class="record-details">
    <div>
      <span class="label">SSSA ref:</span>
      <span class="value">{{ alst_record.catalogue_number }}</span>
    </div>
    <div>
      <span class="label">Collection:</span>
      <span class="value">{{ alst_record.collection }}</span>
    </div>
    <div>
      <span class="label">Collection Ref.:</span>
      <span class="value">{{ alst_record.collection_ref }}</span>
    </div>
      <div>
      <span class="label">Informant:</span>
      <span class="value">{{ alst_record.informant_artist }}</span>
    </div>
    <div>
      <span class="label">Fieldworker:</span>
      <span class="value">{{ alst_record.fieldworker }}</span>
    </div>
    <div>
      <span class="label">First line:</span>
      <span class="value">{{ alst_record.first_line }}</span>
    </div>
    <span class="label">Content Keywords:</span>
      <span class="value">
        {% for word in alst_record.extract_word_matereial %}
          <a href="{{ word }}" target="_blank">{{ word }}</a>
        {% endfor %}
      </span>
    <div>
      <span class="label">Summary:</span>
      <span class="value">{{ alst_record.summary }}</span>
    </div>

    <div>
      <span class="label">Date:</span>
      <span class="value">{{ alst_record.date }}</span>
    </div>
    <div>
      <span class="label">Place recorded:</span>
      <span class="value">{{ alst_record.place_recorded }}</span>
    </div>
    <div>
      <span class="label">Tale Reference:</span>
      <span class="value">{{ alst_record.tale_reference }}</span>
    </div>
      <div>
      <span class="label">Instrument:</span>
      <span class="value">{{ alst_record.instrument }}</span>
    </div>
    <div>
      <span class="label">Camera operator:</span>
      <span class="value">{{ alst_record.camera_operator }}</span>
    </div>
    <div>
      <span class="label">Disc/Matrix Nr.:</span>
      <span class="value">{{ alst_record.disc_matrix_number }}</span>
    </div>
    <div>
      <span class="label">Old Ref Nr.:</span>
      <span class="value">{{ alst_record.old_number_rl }}</span>
    </div>
    <div>
      <span class="label">Data Last Amended:</span>
      <span class="value">{{ alst_record.data_last_amended }}</span>
    </div>
    <div>
      <span class="label">Restrictions:</span>
      <span class="value">{{ alst_record.restricted }}</span>
    </div>
  </div>

  <div class="record-actions">
    <a class="btn ok" href="{% url 'search_view' %}?{{ request.GET.urlencode }}">OK</a>

    {% if user.is_authenticated and user.is_superuser %}
      <a class="btn edit" href="{% url 'alst_update_record' alst_record.id %}">EDIT</a>
      <a class="btn delete" href="{% url 'alst_delete_record' alst_record.id %}">DELETE</a>
    {% endif %}
  </div>

  <div class="related-records">
    <h4>Related Records</h4>
    <table>
      {% for record in related_records %}
      <tr>
        <td>
          <a href="{% url 'alst_details_record' record.id %}" target="_blank">{{ record.catalogue_number }}</a>
        </td>
        <td>{{ record.type_of_material }}</td>
      </tr>
      {% endfor %}
    </table>
  </div>
</form>
</body>
</html>