<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Main Archive</title>
    {% load static %}
    <link rel="stylesheet" href="{% static '/css/index_table_style.css' %}" >
    <link rel="stylesheet" href="{% static 'css/menu_style.css' %}" >
    <link rel="stylesheet" href="{% static 'css/buttons.css' %}" >
    <link rel="stylesheet" href="{% static 'css/search_form_style.css' %}" >
</head>
<body>
<div class="topnav">
    {% if user.is_authenticated %}
    <span style="vertical-align: middle; color: white; font-size: 13px; padding-left: 1rem;">
        Welcome back {{ user }}
    </span>
    <span>
        <a href="{% url 'logout' %}" class="split">Logout</a>
        {% else %}
        <a href="{% url 'register' %}" class="split">Register</a>
        <a href="{% url 'login' %}" class="split">Login</a>
        {% endif %}
    </span>
</div>
<table>
    <tr>
        <td style="width: 40%">
            <div id="contact-form"><div>
                <h1>Search Archives:</h1>
            </div>
                <br>
                <form method="GET" action="{% url 'index' %}">
                    <div style="display:inline">
                        <div style="float: left; width: 50%;">
                            <label>
                                <span class="required">ID:</span><br>
                                {{ form.id_exact }}
                            </label>
                        </div>
                        <div style="float: left; width: 50%;">
                            <label>
                                <span class="required">Type:</span><br>
                                {{ form.type_exact }}
                            </label>
                        </div>
                    </div>

                    <div style="display:inline">
                        <div style="float: left; width: 50%;">
                            <label style="">
                                <span class="required">Catalogue Number (exact):</span>
                                {{ form.catalogue_number_exact }}
                            </label>
                        </div>
                        <div style="float: left; width: 50%;">
                            <label>
                                <span class="required">Catalogue Number (contains):</span>
                                {{ form.catalogue_number_contains }}
                            </label>
                        </div>
                    </div>
                    <div style="display:inline">
                        <div style="float: left; width: 50%;">
                            <label>
                                <span class="required">Parent (exact):</span><br>
                                {{ form.parent_exact }}
                            </label>
                        </div>
                        <div style="float: left; width: 50%;">
                            <label>
                                <span class="required">Parent (contains):</span>
                                {{ form.parent_contains }}
                            </label>
                        </div>
                    </div>
                    <div style="display:inline">
                        <div style="float: left; width: 50%;">
                            <label style="">
                                <span class="required">Type of Material (exact):</span>
                                {{ form.type_of_material_exact }}
                            </label>
                        </div>
                        <div style="float: left; width: 50%;">
                            <label>
                                <span class="required">Type of Material (contains):</span>
                                {{ form.type_of_material_contains }}
                            </label>
                        </div>
                    </div>
                    <button name="submit" type="submit" id="submit" >Search</button>
                </form>
            </div>
        </td>
        <td>






            asdfasdfsad
        </td>
    </tr>
</table>








    <!-- Display the count of records -->
    <h2 style="text-align:center">Showing: {{ record_count }} records</h2>

<br>

<table class="table">
    <tbody>
    {% for alst_record in alst_records|slice:":2000" %}
    <tr>
        <div>
            <td>
                <p style="display: inline; font-size: 13px; color: #48506C">ID Nr: </p><p style="display: inline">{{alst_record.id}}</p> <br>
                <p style="display: inline; font-size: 13px; color: #48506C">Type: </p><p style="display: inline">{{alst_record.type}}</p> <br>
                <p style="display: inline; font-size: 13px; color: #48506C">Catalogue Name: </p><p style="display: inline">{{alst_record.catalogue_name}}</p> <br>
                <p style="display: inline; font-size: 13px; color: #48506C">Catalogue Nr: </p><p style="display: inline">{{alst_record.catalogue_number}}</p> <br>
                <p style="display: inline; font-size: 13px; color: #48506C">Parent: </p><p style="display: inline">{{alst_record.parent}}</p> <br>
                <p style="display: inline; font-size: 13px; color: #48506C">Disc Matrix Nr.: </p><p style="display: inline">{{alst_record.disc_matrix_number}}</p> <br>
                <p style="display: inline; font-size: 13px; color: #48506C">Related.: </p><p style="display: inline"> {{related_values}} </p> <br>
                <p style="display: inline; font-size: 13px; color: #48506C">Restricted: </p><p style="display: inline"> {{alst_record.restricted}} </p> <br>
            </td>

            <td style="vertical-align: middle; text-align: center; font-size:14px ">{{alst_record.title}}</td>
            <td style="vertical-align: middle; text-align: left; font-size:14px ">
                {% for word in alst_record.extract_word_matereial %}
                <a href="{{ word }}" target="_blank">{{ word }}</a>
                {% endfor %}
            </td>
            <td style="vertical-align: middle; text-align: left; font-size:14px ">{{alst_record.catalogue_number_copy}}</td>
            <td>
            <td width="25%" style="color: #00f7ff; text-decoration: none;"><a href="{% url 'alst_details_record' alst_record.id %}">
            &#8594;{{ alst_record.catalogue_number }}</a>
        </td>
            </td>
        </div>
    </tr>
    {% endfor %}

    </tbody>


</table>


</body>
</html>