<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Search</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/table_style_1.css' %}" >
</head>
<body>


<form method="get" action="">
    <input type="text" name="q" placeholder="Search..." value="{{ query }}">
    <button type="submit">Search</button>
</form>
<br>

<form method="get">
    <label>Multi-word search:</label>
    <input type="text" name="q_multi" value="{{ query_multi }}">
    <button type="submit">Search</button>
</form>
    {% if query %}
    <p>Found {{ results|length }} result{{ results|pluralize }} for "{{ query }}":</p>
    <table class="table1">
        <thead>
        <tr>
            <th>ID</th>
            <th>Type</th>
            <th>Catalogue Number</th>
            <th>Parent</th>
            <th>Summary</th>
            <th>Informant Artist</th>
            <th>Comments</th>
        </tr>
        </thead>
        <tbody>
        {% for item in results %}
        <tr>
            <td>{{item.id}}</td>
            <td>{{item.type}}</td>
            <td>{{item.catalogue_number}}</td>
            <td>{{item.parent}}</td>
            <td>{{item.summary}}</td>
            <td>{{item.informant_artist}}</td>
            <td>{{item.comments}}</td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
    {% else %}
    <p>No search performed yet.</p>
    {% endif %}

</body>
</html>