<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Search</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/menu_style.css' %}" >
    <link rel="stylesheet" href="{% static 'css/page_style.css' %}" >
    <link rel="stylesheet" href="{% static 'css/sub_pages_style.css' %}" >
    <link rel="stylesheet" href="{% static 'css/footer.css' %}" >
    <link rel="stylesheet" href="{% static 'css/menu.css' %}" >
    <link rel="stylesheet" href="{% static 'css/search_form.css' %}" >
</head>
<body>
<div class="div_head">
    <div class="topnav">
        <div class="logo">
            <a href="{% url 'sssa_home' %}">
                <img src="{% static 'images/logo.png' %}" alt="Logo">
            </a>
        </div>
    </div>
    <div class="header-search-view">
      <!--<h1>Header</h1>-->
    </div>
    {% if user.is_authenticated %}
    <nav style="height: 10%; ">
        <ul>
            <li><a href="{% url 'sssa_home' %}">About</a></li>
            <li><a href="{% url 'search_view' %}">Search</a></li>
            <li><a href="{% url 'collections' %}">Collections</a></li>
            <li><a href="{% url 'people_and_place' %}">People and Place</a></li>
            <li><a href="{% url 'subjects' %}">Subjects</a></li>
            <li><a href="{% url 'listen_recordings' %}">Listen to a recording</a></li>
            <li style="vertical-align: right"><a href="{% url 'logout' %}">Logout</a></li>
        </ul>
    </nav>
    {% else %}
    <nav style="height: 10%">
        <ul>
            <li><a href="{% url 'sssa_home' %}">About</a></li>
            <li><a href="{% url 'collections' %}">Collections</a></li>
            <li><a href="{% url 'people_and_place' %}">People and Place</a></li>
            <li><a href="{% url 'subjects' %}">Subjects</a></li>
            <li><a href="{% url 'listen_recordings' %}">Listen to a recording</a></li>
            <li class="auth-links">
            <a href="{% url 'register' %}">Register</a>
            <a href="{% url 'login' %}">Login</a>
        </li>
        </ul>
    </nav>
    </div>
    {% endif %}
<br>
<br>
<br>



<div class="div_body" style="margin-left: 5%; margin-right:5%">

<form class="search_form" method="get" action="">
  <h3 style="display:inline; margin-right:10px;">Main word for search:</h3>
  <input type="text" name="q" placeholder="Search..." value="{{ query }}">
  <hr>
  <h3>...and add a filter to your searches to narrow down the results:</h3>

  <div class="filters">
    <select name="type_filter">
      <option value="">-- Select Database --</option>
      <option value="ALST" {% if type_filter == "ALST" %}selected{% endif %}>ALST</option>
      <option value="MNDX" {% if type_filter == "MNDX" %}selected{% endif %}>MNDX</option>
    </select>
    <input type="text" name="collection_filter" placeholder="Filter by Collection..." value="{{ collection_filter }}">
    <input type="text" name="informant_artist_filter" placeholder="Filter by Contributor..." value="{{ informant_artist_filter }}">
    <input type="text" name="native_area_county_filter" placeholder="Filter by Native Area..." value="{{ native_area_county_filter }}">
    <input type="text" name="fieldworker_filter" placeholder="Filter by Fieldworker..." value="{{ fieldworker_filter }}">
    <input type="text" name="type_of_material_filter" placeholder="Filter by Subject Keywords..." value="{{ type_of_material_filter }}">
    <input type="text" name="title_filter" placeholder="Filter by Title..." value="{{ title_filter }}">
    <input type="text" name="summary_filter" placeholder="Filter by Summary..." value="{{ summary_filter }}">
    <input type="text" name="catalogue_number_filter" placeholder="Filter by Catalouge Nr..." value="{{ catalogue_number_filter }}">
  </div>

  <hr>
  <button type="submit">Search</button>
</form>

    <br>
    {% if query %}
    <p>Found {{ results|length }} result{{ results|pluralize }} for "{{ query }}":</p>
    <table class="table2">
        <thead>
        <tr>
            <th>SSSA Ref</th>
            <th>Collection</th>
            <th>Collection Ref</th>
            <th>Contributor</th>
            <th>Native Area</th>
            <th>Fieldworker</th>
            <th>Date</th>
            <th>Title</th>
            <th>Content Keywords</th>
            <th>Summary</th>
        </tr>
        </thead>
        <tbody>
        {% for item in results %}

        <tr ><!-- data-href = "{% url 'alst_details_record' item.id %}?{{ request.GET.urlencode }}"-->

            <td>{{item.catalogue_number}}</td>
            <td>{{item.collection}}</td>
            <td>{{item.collection_ref}}</td>
            <td>{% if item.informant_artist == "none" %}{% else %}{{ item.informant_artist }}{% endif %}</td>
            <td>{% if item.native_area_county == "none" %}{% else %}{{ item.native_area_county }}{% endif %}</td>
            <td>{% if item.fieldworker == "none" %}{% else %}{{ item.fieldworker }}{% endif %}</td>
            <td>{% if item.date == "none" %}{% else %}{{ item.date }}{% endif %}</td>
            <td>{% if item.title == "none" %}{% else %}{{ item.title }}{% endif %}</td>
            <!-- <td>{% if item.type_of_material == "none" %}{% else %}{{ item.type_of_material }}{% endif %}</td> -->
            <td>
                {% for word in item.extract_word_matereial %}
                <a href="{{ word }}" target="_blank">{{ word }}</a>
                {% endfor %}
            </td>
            <td>{% if item.summary == "none" %}{% else %}{{ item.summary }}{% endif %}</td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
    {% else %}
    <p>No search performed yet.</p>
    <br>
    <br>
    <br>

    {% endif %}
</div>

<div class="div-footer">
    <footer>
      <div class="footer-subsite-content">
        <div class="container-footer">
          <div class="row">
              <div class="col-sm-6 col-md-8">
                <div class="branding-baton-holder">
                  <img class="branding-baton" src="https://lac-edwebtools.is.ed.ac.uk/edweb/library-branding-baton.png" height="100">
                </div>
              </div>
              <div class="col-sm-6 col-md-4">
                <a href="https://library.ed.ac.uk/library-help" class="btn btn-brand btn-sm" title="Contact Us">
                  Contact us <i class="bi bi-chevron-right"></i>
                </a>
              </div>
          </div>
        </div>
      </div>
      <div class="footer-discover">
        <h3 class="footer-discover-heading">
          The University of Edinburgh
        </h3>
      </div>
        <div class="footer">
        <div class="container-footer">
          <div class="row">
            <div class="col-md-4">
              <ul class="list-unstyled">
                <li><a href="https://www.ed.ac.uk/about/website/website-terms-conditions">Terms &amp; conditions</a></li>
                <li><a href="https://edin.ac/privacy-information">Privacy &amp; cookies</a></li>
                <li><a href="https://www.ed.ac.uk/university-secretary-group/complaint-handling-procedure">Complaints procedure</a></li>
                <li><a href="https://www.ed.ac.uk/sustainability/what-we-do/supply-chains/initiatives/modern-slavery/statement">Modern slavery</a></li>
              </ul>
            </div>
            <div class="col-md-4">
              <ul class="list-unstyled">
                <li><a href="https://archives.collections.ed.ac.uk/static/html/accessibility_statement.html">Accessibility Statement</a></li>
                <li><a href="https://www.ed.ac.uk/about/website/freedom-information">Freedom of information publication scheme</a></li>
                <li><a href="https://www.ed.ac.uk/data-protection">Data protection / Records Management</a></li>
              </ul>
            </div>
            <div class="col-md-4 col-6 justify-content-end">
              <a href="https://www.ed.ac.uk/about/mission-governance/affiliations">
                <img class="img-fluid" alt="University affiliations" src="https://library.ed.ac.uk/themes/upstream/wpp_theme/images/footer-affiliations.png">
              </a>
            </div>
          </div>
          <div class="row">
            <div class="col-md-4 order-md-2">
              <p class="float-end">
                <a class="btn btn-brand btn-sm" href="https://www.myed.ed.ac.uk/">
                  MyEd login <i class="bi bi-chevron-right"></i>
                </a>
              </p>
            </div>
            <div class="col-md-8 order-md-1">
              <p>
                The University of Edinburgh is a charitable body, registered in Scotland, with registration number SC005336, VAT Registration Number GB&nbsp;592&nbsp;9507&nbsp;00, and is acknowledged by the UK authorities as a "<a href="https://www.gov.uk/guidance/recognised-uk-degrees">Recognised body</a>" which has been granted degree awarding powers.
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="container-footer-copyright">
        Unless explicitly stated otherwise, all material is copyright © The University of Edinburgh 2025.
      </div>
    </footer>
</div>

</body>
</html>

<script>
document.addEventListener("DOMContentLoaded", function() {
    document.querySelectorAll("tr[data-href]").forEach(row => {
        row.addEventListener("click", function() {
            window.location = this.dataset.href;
        });
    });
});
</script>