<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>SSSA Home</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/menu_style.css' %}" >
    <link rel="stylesheet" href="{% static 'css/page_style.css' %}" >
</head>
<body>
<div class="topnav">
    {% if user.is_authenticated %}
    <span style="vertical-align: middle; color: white; font-size: 13px; padding-left: 1rem;">
        Welcome back {{ user }}
    </span>
    <span>
        <a href="{% url 'logout' %}" class="split">Logout</a>
        {% else %}
        <a href="{% url 'register' %}" class="split">Register</a>
        <a href="{% url 'login' %}" class="split">Login</a>
        {% endif %}
    </span>
</div>
<div class="header">
  <h1>Header</h1>
</div>
{% if user.is_authenticated %}
<br/>
<div class="row">
    <div class="col-3 menu">
        <ul>
            <li><a href="{% url 'index' %}" style="text-decoration: none; color: white">Main Archive</a></li>
            <li><a href="{% url 'search_view' %}" style="text-decoration: none; color: white">Search View</a></li>
            <li>Empty</li>
            <li>Empty</li>
        </ul>
    </div>
    {% else %}
    <p>Please login</p>
    {% endif %}
    <br>
    <h1 style="font-family: Crimson Text, serif; ">School of Scottish Studies Archive</h1>
    <p>
        The School of Scottish Studies was established in 1951, at the University of Edinburgh, to collect, preserve,
        research, and publish material relating to the cultural traditions and folklore of Scotland.
    </p>
    <p>
        The extensive collections, including ethnological fieldwork undertaken by staff and students over the past seventy
        years, include a sound archive comprising some 33,000 recordings, a photographic archive containing thousands of
        images from the 1930s onwards, a small film and video collection and a manuscript archive.
        Collecting has focused on Scottish life, folklore and the traditional arts.  Material comes from communities
        throughout Scotland and its diaspora. The main languages of Scotland - Gaelic, Scots and English - are all
        represented including many dialects that are now extinct.<br>
        Donations include related material from other countries, for example, the John Levy Collection, recordings
        of traditional music from Asia and beyond.
    </p>
    <br>
</div>
<br/>
<br/>
<br/>
<br/>

<div class="footer1">
  <p>University of Edinburgh</p>
</div>

<div class="footer2">
  <p>Footer</p>
</div>



</body>
</html>