<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% load static %}
    <title>Record Form</title>
</head>
{% load crispy_forms_tags %}
<body>
<form method="POST">
    {% csrf_token %}
    <table>
        <h2> ALST Form</h2>
        <tr>
            <td colspan="3" style="text-align: center; padding:20px">
                <span style="color: gray; font-size:15px">Catalogue Number:</span> <span style="font-size: 20px">{{ alst_record_form.catalogue_number }}</span><br>
                <br>
                <span style="color: gray; font-size:15px">Catologue Name:</span> <span style="font-size: 13px">{{ alst_record_form.catalogue_name  }}</span><br>
                <br>
                <span style="color: gray; font-size:15px">Informant Artist:</span> <span style="font-size: 13px">{{ alst_record_form.fieldworker }} </span><br>
                <br>
                <span style="color: gray; font-size:15px">Native Area:</span> <span style="font-size: 13px">{{ alst_record_form.date }} </span> <br>
                <br>
                <span style="color: gray; font-size:15px">Informant Artist:</span> <span style="font-size: 13px">{{ alst_record_form.informant_artist }} </span> <br>
                <br>
                <span style="color: gray; font-size:15px">Native Area County:</span> <span style="font-size: 13px">{{ alst_record_form.native_area_county }} </span> <br>
                <br>
                <span style="color: gray; font-size:15px">Comments:</span> <span style="font-size: 13px">{{ alst_record_form.comments }} </span> <br>
                <br>
                <span style="color: gray; font-size:15px">Place Recorded:</span> <span style="font-size: 13px">{{ alst_record_form.place_recorded }} </span> <br>
                <br>
                <span style="color: gray; font-size:15px">Type of Material:</span> <span style="font-size: 13px">{{ alst_record_form.type_of_material }} </span> <br>
                <br>
                <span style="color: gray; font-size:15px">Summary:</span> <span style="font-size: 13px">{{ alst_record_form.summary }} </span> <br>
                <br>
                <span style="color: gray; font-size:15px">Disc Matrix Number:</span> <span style="font-size: 13px">{{ alst_record_form.disc_matrix_number }} </span> <br>
                <br>
                <span style="color: gray; font-size:15px">Tale Reference:</span> <span style="font-size: 13px">{{ alst_record_form.tale_reference }} </span> <br>
                <br>
                <span style="color: gray; font-size:15px">Title:</span> <span style="font-size: 13px">{{ alst_record_form.title }} </span> <br>
                <br>
                <span style="color: gray; font-size:15px">Reference:</span> <span style="font-size: 13px">{{ alst_record_form.reference }} </span> <br>
                <br>
                <span style="color: gray; font-size:15px">Old Number RL:</span> <span style="font-size: 13px">{{ alst_record_form.old_number_rl }} </span> <br>
                <br>
                <span style="color: gray; font-size:15px">Data Recorded Input:</span> <span style="font-size: 13px">{{ alst_record_form.data_record_input }} </span> <br>
                <br>
                <span style="color: gray; font-size:15px">Data Last Amended:</span> <span style="font-size: 13px">{{ alst_record_form.data_last_amended }} </span> <br>
            </td>
        </tr>
        <tr>

        </tr>

    </table>
    <button type="submit">Submit</button>
</form>

</body>
</html>