/* Basic horizontal menu styling */
.div_head nav {
    background-color: #690051;
    padding: 1rem 10rem;
    height: 10%;
}
.div_head nav ul {
    list-style: none;
    display: flex;
    gap: 1rem;
    margin: 0;
    padding: 0;
}
.div_head nav ul li {
    display: inline;
}
.div_head nav ul li a {
    color: white;
    text-decoration: none;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    transition: background 0.3s;
}
.div_head nav ul li a:hover {
    background-color: #555;
}

nav ul li:last-child {
    margin-left: auto; /* pushes only Logout to the right */
}