<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Index</title>
</head>
<body>
    <form method="GET" action="{% url 'index' %}">
        {{ form.as_p }}
        <input type="submit" value="Submit" class="btn btn-primary" />
    </form>
    <hr>
<table class="table">
    <thead>
    <tr>
        <th>ID</th>
        <th>Catalogue Number</th>
        <th>Type</th>
        <th>Type of Material</th>
    </tr>
    </thead>
    <tbody>
    {% for alst_record in alst_records %}
    <tr>
        <td style="vertical-align: middle; text-align: center; font-size:14px ">{{alst_record.id}}</td>
        <td style="vertical-align: middle; text-align: center; font-size:14px ">{{alst_record.catalogue_number}}</td>
        <td style="vertical-align: middle; text-align: center; font-size:14px ">{{alst_record.type}}</td>
        <td style="vertical-align: middle; text-align: center; font-size:14px ">{{alst_record.type_of_material}}</td>
    </tr>
    {% endfor %}
    </tbody>


</table>


</body>
</html>