<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>SSSA Register</title>
    {% load static %}
    <link rel="stylesheet" href="{% static '/css/login_style.css' %}">


</head>
<body>
{% if form.errors %}
<p>There was an error with your form!</p>
{% endif %}

<div style="margin-left: auto; width:50%; margin-right: auto;">
    <h2>Please fill in this form to register.</h2>
    <form method="POST">
      {% csrf_token %}
        <div class="container">
            <label><b>Username:</b></label><br/>
            <input type="text" placeholder="Enter Username (Required. 150 characters or fewer. Letters, digits and @/./+/-/_ only.)" name="username"> <br/>
            <label><b>First Name:</b></label><br/>
            <input type="text" placeholder="Enter First Name" name="first_name"><br/>
            <label><b>Last Name:</b></label><br/>
            <input type="text" placeholder="Enter Second Name" name="last_name"><br/>
            <label><b>Status:</b></label><br/>
            <input type="text" placeholder="Enter Status e.g. staff / student... " name="status"><br/>
            <label><b>Email:</b></label><br/>
            <input type="text" placeholder="Enter Your Email" name="email"><br/>
            <label><b>Password:</b></label><br/>
            <input type="password" placeholder="Password" name="password1"><br/>
            <ul>
                <li>Your password can’t be too similar to your other personal information.</li>
                <li>Your password must contain at least 8 characters.</li>
                <li>Your password can’t be a commonly used password.</li>
                <li>Your password can’t be entirely numeric.</li>
            </ul>
            <br/>

            <label><b>Password Confirmation:</b></label><br/>
            <input type="password" placeholder="Enter the same password as before, for verification." name="password2">
            <br/><br/>
            <button type="submit" class="loginbtn">Submit</button>
        </div>
    </form>
</div>

</body>
</html>